@font-face {
    font-family: 'Open Sans';
    src: url(font_path('open-sans.ttf')) format('truetype');
}

$fa: FontAwesome;
@font-face {
    font-family: $fa;
    src: url(font_path('fa-solid-900.ttf')) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: $fa;
    src: url(font_path('fontawesome.woff2')) format('woff2'),
    url(font_path('fontawesome.woff')) format('woff'),
    url(font_path('fontawesome.ttf')) format('truetype');
    font-display: swap;
}

.far {
    font-family: $fa;
    font-style: normal;

    &.fa-thumbs-up {
        &:after {
            content: '\f164';
        }
    }

    &.fa-thumbs-down {
        &:after {
            content: '\f165';
        }
    }

    &.fa-list {
        &:before {
            content: '\f03a';
        }
    }

    &.fa-mark {
        &:before {
            content: '\f00d';
        }
    }
}